<%- include("templates/header") %>
    <h2> Hi, <%=name %> </h2>
    <h3> List of Users: </h3>
    <%  if (users.length === 0) { %> 
        <h4 style="color: red">There are no other users yet</h4>
    <% } else { %>
        <ol>
            <% let i=0; %>
                <% for(i=0; i < users.length; i++) { %>
                <%- include('templates/user', {user_id: users[i].user_id, username: users[i].username})  %> 
            <% } %> 
        </ol>
    <% } %>  
    <br> 
<form action='/' method='GET'>
    <button>Go to Homepage</button>
</form>
<%- include("templates/footer") %> 