<%- include("templates/header") %> 
<h1> Welcome! </h1>
<form action='/logIn' method='GET'>
        <button>Login</button>
</form>
<br>
<form action='/signUp' method='GET'>
        <button>Sign up</button>
</form>
<%- include("templates/footer") %> 